body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  background: #054453;
  color: #75e6da;
}

h1 {
  text-align: center;
  font-size: 4rem;
  color: skyblue;
  margin: 0.5em 10em;
  background: darkcyan;
  border-radius: 10px;
}

#moveTag {
  cursor: grab;
  cursor: -webkit-grab;
  z-index: 10;
  margin: 0 54.2em 0 5em;
}
.direction {
  position: relative;
  top: -45px;
  left: 230px;
  font-size: 1.5rem;
}

.h1p {
  margin-left: 8em;
}
.name {
  color: #d4f1f4;
  font-weight: bold;
}
.answer {
  text-decoration: line-through;
}

blockquote {
  margin-left: 5em;
  font-size: 2rem;
}

blockquote p {
  margin-bottom: 0;
}

cite {
  font-size: 1rem;
  margin-left: 50em;
}

.generic {
  margin-left: 8em;
}

img {
  margin-left: 8em;
  border-radius: 10px;
}
h2 {
  margin-left: 5.2em;
}
ol {
  margin-left: 7em;
}
a {
  text-decoration: none;
  color: #d4f1f4;
}
a:hover {
  color: gray;
}

ul {
  margin-left: 7em;
}

h2 ~ p {
  margin-left: 7em;
}
.projects h2 {
  margin-bottom: 1.2em;
}
.projects img {
  margin: 1em 1em 1em 8em;
}

.projects img:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
